body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background:black;
    color:#00FFFF;
}
h1{
    text-align: center;
}

h2{
    color: #FF0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #00FFFF;
}

th, td {
    padding: 10px;
    text-align: left;
    width:25%;
}

.flex{
    display:flex;
}

.col{
    flex-direction:column;
}

.row{
    flex-direction:row;
}

.w50{
    width:48.5%;
}
.center{
    justify-content: center;
}
.sbw{
    justify-content: space-between;
}

.price {
    width: 100px;
    text-align: right;
}
#printReceipt{
    padding:.5rem;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}
#printReceipt:hover{
    text-decoration: underline;
}
#receipt {
    /* border: 1px solid #00FFFF; */
    /* padding: 10px; */
    margin-top: 20px;
}

#selectedOptions {
    list-style-type: none;
    padding: 0;
}

#selectedOptions li {
    margin: 5px 0;
}
#discountAmount{
    color:lime;
}
#finalPrice{
    color:#FF0000;
}

#selectedOptions td {
    width: 25% !important;
}
@media(max-width:30em){
    .row{
        flex-direction: column;
    }
    .w50{
        width:100%;
    }
}